body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}
.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c7cdd1;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}
.bg-secondary {
  background-color: #c7cdd1 !important;
}
.border-gray {
  border: 1px solid gray;
}

.border-red {
  border: 1px solid red;
}

.no-border {
  border: none;
}

.red-text {
  color: #c41616;
}

.red-c41616 {
  color: #c41616;
}

.grey-4c5860 {
  color: #4c5860;
}

.font-small {
  font-size: 0.8rem;
}

.solid-green-5px {
  border-left: 5px solid green;
}

.border-custom {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.sticky-side-navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-margins {
  margin-left: 1em;
}

.question-container {
  border: 1px solid #999; /* Darker border color */
  padding: 15px; /* Increased padding for spacing */
  margin-bottom: 15px; /* Increased margin for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

@media (min-width: 768px) {
  .custom-margins {
    margin-left: 8em;
    margin-right: 3em;
  }
}

.mirror {
  transform: scaleX(-1);
}
